# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* libraries used by Data Scientists
* Data Science Tools
* examples of evaluating arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Matplotlib

|Data Science Tools:|
|-----------|
| Power BI|
| GitHub|
| RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [33]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [35]:
# This will convert 200 minutes to hours by diving by 60
hours = 200//60

In [37]:
print(hours)

3

In [15]:
#This will convert 200 minutes to hours by diving by 60

## Author

Alisa